<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lobby</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <script type="text/javascript" src="/static/js/game.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/game.css">
</head>
<body>
    <fieldset id="serverLocation">
        <legend>Server Location</legend>
        <div>
            <input type="button" id="connect" value="Connect"/>
            <input type="button" id="disconnect" value="Disconnect" disabled/>
            <input type="text" id="wsURL" value="ws://127.0.0.1:6600/game/connect" size="64">
            <span id="status"></span>
        </div>
    </fieldset>
    <fieldset id="requestSection">
        <legend>Request</legend>
        <form id="form">
            <input id="sendMsg" type="submit" type="submit" value="Send" ; disabled/>
            <input type="text" id="msg" size="80"/>
        </form>
    </fieldset>
    <fieldset id="responseMsgSection">
        <legend>Response</legend>
        <div id="log"></div>
    </fieldset>
</body>
</html>